export RUST_LOG="pff_web=trace"
export PFF_WEB_PFF_FILE="/path/to/pff/file"
export PFF_WEB_LISTEN_URL="0.0.0.0:8800"
export PFF_WEB_SEARCH_ENDPOINT="http://SEARCH-SERVER:7700"
export PFF_WEB_SEARCH_API_KEY="SEARCH_API_KEY"
export PFF_WEB_SEARCH_INDEX_NAME="INDEX_NAME"